<form method="POST" action="{{ site.staticman_url }}" class="comment-form">
  <input name="options[redirect]" type="hidden" value="{{ 'comment-success' | absolute_url }}">
  <input name="options[slug]" type="hidden" value="{{ page.slug }}" />
  <input name="fields[parent_id]" type="hidden" value="{{ include.parent_id }}" />
  
  <input type="hidden" name="options[reCaptcha][siteKey]" value="6Lfil3odAAAAAHraZ72yIgCKVTeGjBdAlQj-D2Lm">
  <input type="hidden" name="options[reCaptcha][secret]" value="hvz4hM252hYAVJnSke8eecpYX4zWN5Z+u5Z6iWyb4qKwaQQOi9l/zZgA6QPOW3GaWTgYv6gPbWiYvqCgRqykPDYPmmmR+cjDW1byt+rzZijmEAz1LJlmVocCozthluGRl9mBW3H2SVgTOgIOs6q8wR22P8Q4GMNXxwST4F+Y4QCySOhnPd4sVee4i9ntP/vaZr12nSdlcumgRz0s3SaKY/gKAZqy84ZXHKlEWaHLCy7/wQ1OdczSDEOaJsMiwcWXOGYUCBXfEnjMvsbjFASOifo2uYqMD4lzI6MdMxbberEoLh/71Hc3wCl2530H0mnxMDBSC4ihnqnHbPQW4Ij5db3XtIOOUaU/73l8bFsKpAmBWLZIfjQQqYdkXFcBSHIvy97uY8i2SPSutOx2/BKrgXxIYmHkI/5HDhOm1WPndbx/R/eYsWWau5FtfKVBQQDDwJc7GLDS3Fyelff8Llut9yM3THho9vXlsPm3JC4H1KrHkf7jluLEZI0tCSIjvS0AxYxV8kKIb+cnoYF1oR4q8l0c+bu8od9fFAbmlNJcTju7cmEF9W63XaJLAHZpb27oP6SEmNr1dQSm5dkg9jWnIE5mkjqAGmTuIfOwbfualT+GHewTZ0E3fi2EN6iIBcA6q3we34Oyf459qrquTjMW30JvYAMWtbo8qWZZM6a0ILs=">

  <input
      class="comment-name"
      name="fields[name]"
      type="text"
      placeholder="Name"
      required
    />

  <textarea
    id="message-{{ include.parent_id }}"
    class="comment-message"
    name="fields[message]"
    placeholder="Comment (markdown accepted)"
    required
  ></textarea>
    
  <div 
    class="g-recaptcha" 
    data-sitekey="6Lfil3odAAAAAHraZ72yIgCKVTeGjBdAlQj-D2Lm"
  ></div>

  <button class="comment-submit" >
    Отправить
  </button>
</form>

<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("message-{{ include.parent_id }}"),
    forceSync: true,
    spellChecker: false,
    status: false,
    placeholder: "Comment (markdown supported)",
  });
</script>