({% assign numbers = site.data.comments[post_slug].size %}{% if numbers < 0 %}0{% else %}{{ numbers | divided_by:1 }}{% endif %})
{% assign sorted_comments = comments | sort: 'date' %}
{% for comment in sorted_comments %}
<div class="comment">
    <h3>{{comment.name}}</h3>
    <time class="post-meta dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ comment.date | date:"%H:%M - %b %-d, %Y, %Y" }}
    </time>
    <p>{{comment.message | strip_html | markdownify }}</p>
</div>
{% endfor %}