.comment-thread {
    box-sizing: border-box;
    max-width: 100%;
    margin: auto;
    border: 1px solid transparent; /* Removes margin collapse */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.85);
    padding-top: 30px;
}

body.dark .comment-thread {
    color: rgba(255, 255, 255, 0.85);
}

.comment-thread button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 0px 8px;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

body.dark .comment-thread button {
    background-color: #9d9d9d;
}
.comment-thread button:hover,
.comment-thread button:focus,
.comment-thread button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}

body.dark .comment-thread button:hover,
body.dark .comment-thread button:focus,
body.dark .comment-thread button:active {
    background-color: #838383;
}
.m-0 {
    margin: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* Comment */

.comment {
    position: relative;
    margin: 15px auto;
}
.comment-heading {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 14px;
}
.comment-avatar {
    width: 32px;
    height: 32px;
}
.comment-avatar img {
    width: 32px;
    height: 32px;
    border-radius: 4px;
}
.comment-info {
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}
body.dark .comment-info {
    color: rgba(255, 255, 255, 0.5);
}
.comment-author {
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-decoration: none;
}
body.dark .comment-author {
    color: rgba(255, 255, 255, 0.85);
}
.comment-author:hover {
    text-decoration: underline;
}
.comment-owner {
    color: #47c02e;
}
.replies {
    margin-left: 20px;
}

/* Adjustments for the comment border links */

.comment-border-link {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 12px;
    height: calc(100% - 50px);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    background-color: rgba(0, 0, 0, 0.1);
    background-clip: padding-box;
}

body.dark .comment-border-link {    
    background-color: rgba(255, 255, 255, 0.1);
}
.comment-border-link:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.comment-body {
    padding-left: 28px;
}
.comment-body p {
    margin-block-start: 1em;
    margin-block-end: 1em;
    white-space: pre-line;
}
.comment-body a {
    box-shadow: 0 1px;
}
.comment-body .reply-form button {
    padding: 0px 8px;;
}
.replies {
    margin-left: 28px;
}

/* Adjustments for toggleable comments */

details.comment summary {
    position: relative;
    list-style: none;
    cursor: pointer;
}
details.comment summary::-webkit-details-marker {
    display: none;
}
details.comment:not([open]) .comment-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.comment-heading::after {
    display: inline-block;
    position: absolute;
    right: 5px;
    align-self: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.55);
}
details.comment[open] .comment-heading::after {
    content: "-";
}
details.comment:not([open]) .comment-heading::after {
    content: "+";
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* Resets cursor, and removes prompt text on Internet Explorer */
    .comment-heading {
        cursor: default;
    }
    details.comment[open] .comment-heading::after,
    details.comment:not([open]) .comment-heading::after {
        content: " ";
    }
}
.reply-form.loading {
    opacity: 0.5;
    cursor: not-allowed;
}
.reply-form .notice {
    padding: 10px 5px;
    margin: 5px 5px 0;
    display: none;    
    border-radius: 3px;
}
.reply-form .notice.sending {
    background-color: #fafa2e;
    display: block;
}
.reply-form .notice.success {
    background-color: #3bfa2e;
    display: block;
}
.reply-form .notice.error {
    background-color: #ff9871;
    display: block;
}
.reply-form input, .reply-form textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 3px;
    padding: 4px;
}
body.dark .reply-form input, 
body.dark .reply-form textarea {
    color: white;
}
.reply-form textarea {
    width: 100%;
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 4px;
}
.reply-form input {
    width: 50%;
    display: block;
}
.reply-form button {    
    margin: 15px 0 5px 0;
    padding: 5px;
}
.d-none {
    display: none;
}